{% extends "layouts/default.twig" %}

{% block content %}
    <h2>${ "Lost Password" | translate }</h2>
    <form action="{% url "lost_password" %}" method="post">
        <p class="lost_pass">${ "Please enter your username below and we will e-mail you a new password for your account." | translate }</p>
        <p>
            <label for="login">${ "Username" | translate }</label>
            <input type="text" autofocus="autofocus" name="login" value="" id="login" />
        </p>

        <p><button name="submit" type="submit" id="submit">${ "Submit" | translate }</button></p>
    </form>
{% endblock %}
