#progress {
    background: #fff;
    padding: 1px;
    border: 1px solid #ddd;
    display: none;
    margin-bottom: 1em;
}
#progress.done .fill {
    background-color: #ddd;
}
#progress .back {
    background: #f0f0f0;
}
#progress .fill {
    background-color: #5fb904;
    height: 1.5em;
    width: 0;
    color: #fff;
}
.swfupload_button {
    margin-bottom: .5em;
}
.clear {
    clear: both;
}
