{% extends "layout.twig" %}

{% block title %}${ "Edit &#8220;%s&#8221;" | translate | format(post.title | escape) }{% endblock %}

{% block subnav %}
			<li class="selected"><a href="{% admin "manage_posts" %}">${ "Posts" | translate }</a></li>
			<li><a href="{% admin "manage_pages" %}">${ "Pages" | translate }</a></li>
			{% trigger "manage_nav" %}
{% endblock %}

{% block content %}
			<h1>${ "Editing &#8220;%s&#8221;" | translate | format(post.title | escape) }</h1>
			<form action="{% admin "update_post" %}" method="post" accept-charset="utf-8">
				{% include "partials/post_fields.twig" %}
				<input type="hidden" name="id" value="$post.id" id="feather" />
				<input type="hidden" name="hash" value="$site.secure_hashkey" id="feather" />
			</form>
{% endblock %}
