{% extends "layout.twig" %}

{% block title %}${ "Import" | translate }{% endblock %}

{% block content %}
			{% if success_wordpress %}
			<p class="message yay">${ "Wordpress content successfully imported!" | translate }</p>
			{% endif %}
			{% if invalid_wordpress %}
			<p class="message boo">${ "File does not seem to be a valid WordPress export file." | translate }</p>
			{% endif %}
			<h1>${ "Import" | translate }</h1>
			<h2>${ "WordPress" | translate }</h2>
			<form id="import_wordpress_form" class="split" action="{% admin "import_wordpress" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
				<fieldset>
					<p>
						<label for="xml_file">${ "eXtended .XML File" | translate }</label>
						<input type="file" name="xml_file" value="" id="xml_file" />
					</p>
					<p>
						<label for="media_url">${ "What URL is used for embedded media?" | translate }</label>
						<input class="text" type="text" name="media_url" value="$POST.media_url" id="media_url" />
						<span class="sub">${ "(optional)" | translate }</span>
						<small>
							${ "Usually something like <code>http://example.com/wp-content/uploads/</code>" | translate }
						</small>
					</p>

					${ trigger.call("import_choose") }

					<p class="buttons">
						<button type="submit" class="yay"><img src="images/icons/success.png" alt="success" />${ "Import" | translate }</button>
					</p>

					<input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
				</fieldset>
			</form>
{% endblock %}
