{% extends "layout.twig" %}

{% block title %}${ "Manage Pages" | translate }{% endblock %}

{% block content %}
			<h1>${ "Manage Pages" | translate }</h1>
			{% if updated %}
			<p class="message yay">${ "Page updated." | translate } <a href="$updated.url">${ "View Page &rarr;" | translate }</a></p>
			{% endif %}
			{% if deleted %}
			<p class="message yay">${ "Page deleted." | translate }</p>
			{% endif %}
			<h2>${ "Need more detail?" | translate }</h2>
			<form class="detail" action="index.php" method="get" accept-charset="utf-8">
				<fieldset>
					<input type="hidden" name="action" value="manage_pages" />
					<div class="pad">
						<h3>${ "Search&hellip;" | translate }</h3>
						<input class="text" type="text" name="query" value="${ GET.query | escape }" id="query" /> <button type="submit" class="inline">${ "Search &rarr;" | translate }</button>
					</div>
				</fieldset>
			</form>
			<br />
			<h2>${ "Last 25 Pages" | translate }</h2>
			<table border="0" cellspacing="0" cellpadding="0" class="wide">
				<thead>
					<tr class="head">
						<th>${ "Title" | translate }</th>
						<th>${ "Created" | translate }</th>
						<th>${ "Last Updated" | translate }</th>
						<th>${ "Author" | translate }</th>
						${ trigger.call("manage_pages_column_header") }
						<th colspan="2">${ "Controls" | translate }</th>
					</tr>
				</thead>
				<tbody>
				{% for page in pages %}
					<tr id="page_$page.id" class="page target{% if loop.last %} last{% endif %}">
						<td class="main"><a href="$page.url">${ page.title | truncate }</a></td>
						<td>${ page.created_at | strftime }</td>
						<td>{% if page.updated %}${ page.updated_at | strftime }{% else %}<span class="sub">${ "never" | translate }</span>{% endif %}</td>
						<td>$page.user.login</td>
						${ trigger.call("manage_pages_column", page) }
{% if visitor.group.can("edit_post", "delete_post", true) %}
						<td class="controls">${ page.edit_link('<img src="images/icons/edit.png" alt="edit" /> edit') }</td>
						<td class="controls">${ page.delete_link('<img src="images/icons/delete.png" alt="delete" /> delete') }</td>
{% else %}
						${ page.delete_link('<img src="images/icons/delete.png" alt="delete" /> delete', '<td class="controls" colspan="2">', '</td>') }
						${ page.edit_link('<img src="images/icons/edit.png" alt="edit" /> edit', '<td class="controls" colspan="2">', '</td>') }
{% endif %}
					</tr>
				{% else %}
					<tr>
						<td colspan="6" class="center"><span class="sub">${ "(none)" | translate }</span></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			$pagination.next_link
			$pagination.prev_link
{% endblock %}
