{% extends "layout.twig" %}

{% block title %}${ "Write" | translate }{% endblock %}

{% block subnav %}
			<li class="right">${ "Bookmarklet: %s" | translate | format('<a href="' ~ bookmarklet ~ '">Chyrp!</a>') }</li>
			{% for feather in site.enabled_feathers %}
			<li{% if GET.feather == feather %} class="selected"{% endif %}><a href="{% admin "write_post&feather="~feather %}">${ feather | capitalize }</a></li>
			{% endfor %}
			<li><a href="{% admin "write_page" %}">${ "Page" | translate }</a></li>
{% endblock %}

{% block content %}
			<h1>Add ${ GET.feather | capitalize }</h1>
			<form action="{% admin "add_post" %}" method="post" accept-charset="utf-8">
				{% include "partials/post_fields.twig" %}
				<input type="hidden" name="feather" value="${ GET.feather | escape }" id="feather" />
				<input type="hidden" name="hash" value="$site.secure_hashkey" id="feather" />
			</form>
{% endblock %}
