{% extends "layout.twig" %}

{% block title %}${ "Add Page" | translate }{% endblock %}

{% block subnav %}
			<li class="right">${ "Bookmarklet: %s" | translate | format('<a href="' ~ bookmarklet ~ '">Chyrp!</a>') }</li>
			{% for feather in site.enabled_feathers %}
			<li><a href="{% admin "write_post&feather="~feather %}">${ feather | capitalize }</a></li>
			{% endfor %}
			<li class="selected"><a href="{% admin "write_page" %}">${ "Page" | translate }</a></li>
{% endblock %}

{% block content %}
			<h1>${ "Add Page" | translate }</h1>
			<form id="write_form" action="{% admin "add_page" %}" method="post" accept-charset="utf-8">
				{% include "partials/page_fields.twig" %}
				<input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
			</form>
{% endblock %}
