{% extends "layout.twig" %}

{% block title %}${ "Write" | translate }{% endblock %}

{% block content %}
			<h1>Add ${ feather.name | capitalize }</h1>
			<form id="write_form" action="{% admin "add_post" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
				{% include "partials/post_fields.twig" %}
				<input type="hidden" name="feather" value="${ feather.name | escape }" id="edit_feather" />
				<input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
			</form>
{% endblock %}
