				</div>
				<?php $paginate->next_link(__("Next &rarr;", "theme"), "right"); ?>
				<?php $paginate->prev_link(__("&larr; Previous", "theme")); ?>
				<br />
				<div class="footer">
					<p><a href="<?php echo $route->url("feed/"); ?>">Feed</a> / theme &copy; <a href="http://lofisoami.com/">Aaron MacDonald</a> 2007</p>
					<span>${ "Powered by <a href=\"http://chyrp.net/\">Chyrp</a>" | translate }</span>
				</div>
		    </div>
		    <div class="sidebar">
				<form action="<?php echo $route->url("search/"); ?>" method="get" accept-charset="utf-8">
					<input type="hidden" name="action" value="search" id="action" />
					<input type="text" id="search" name="query" />
				</form>
				<h1>${ "Pages" | translate }</h1>
<?php $theme->list_pages(); ?>
				<h1>${ "Welcome, %s!" | translate }</h1>
				<ul>
{% if user.logged_in %}
					<li><a href="<?php echo $route->url("controls/"); ?>"><?php echo __("User Controls", "theme"); ?></a></li>
<?php 	if ($user->can('add_post') or $user->can('add_page') or $user->can('view_draft') or $user->can('change_settings')): ?>
					<li><a class="toggle_admin" href="<?php echo $route->url("toggle_admin/"); ?>"><?php echo __("Toggle Admin Bar", "theme"); ?></a></li>
<?php 	endif; ?>
					<li><a href="<?php echo $route->url("logout/"); ?>"><?php echo __("Log Out", "theme"); ?></a></li>
{# else %}
					<li><a href="<?php echo $route->url("login/"); ?>"><?php echo __("Log In", "theme"); ?></a></li>
{% if site.can_register %}
					<li><a href="<?php echo $route->url("register/"); ?>"><?php echo __("Register", "theme"); ?></a></li>
{% endif #}
{% endif %}
				</ul>
				<?php $trigger->call("sidebar"); ?>
{% if tags %}
				<h1>${ "Tags" | translate }</h1>
				<ul id="tags_list">
{% for tag in tags %}
					<li><a href="<?php echo $route->url("tag/".$tag["url"]."/"); ?>">$tag.name</a></li>
{% endfor %}
					<li><a href="<?php echo $route->url("tags/"); ?>">${ "All &rarr;" | translate }</a></li>
				</ul>
{% endif %}
				<h1>${ "Archives" | translate }</h1>
				<ul>
{% for archive in archives %}
					<li><a href="$archive.url">$archive.month $archive.year</a></li>
{% endfor %}
				</ul>
				<h1>${ "Stats" | translate }</h1>
				<ul>
					<li>${ "Queries:" | translate } $stats.queries</li>
					<li>${ "Load time:" | translate } $stats.load</li>
				</ul>
			</div>
		</div>
<?php $trigger->call("end_content"); ?>
	</body>
</html>