{% extends "layouts/default.twig" %}
{% block content %}
	<h2>${ "Log In" | translate }</h2>
	<form action="{% url "login/" %}" method="post">
		<p>
			<label for="login">${ "Username" | translate }</label>
			<input type="text" name="login" value="" id="login" />
		</p>
		<p>
			<label for="password">${ "Password" | translate }</label>
			<input type="password" name="password" value="" id="password" />
		</p>

		<p><button name="submit" type="submit" id="submit">${ "Log In" | translate }</button></p>
	</form>
{% endblock %}