{% extends "layouts/default.twig" %}
{% block content %}
	<h2>${ "Lost Password" | translate }</h2>
	<br />
	<form action="{% url "lost_password/" %}" method="post">
		{% if invalid_user %}
		<p>${ "You have specified a user that does not exist." | translate }</p>
		{% endif %}
		{% if sent %}
		<p>${ "E-mail sent!" | translate }</p>
		{% endif %}
		<p class="lost_pass">${ "Please enter your username below and we will e-mail you a new password for your account." | translate }</p>
		<p>
			<label for="login">${ "Username" | translate }</label>
			<input type="login" name="login" value="" id="login" />
		</p>

		<p><button name="submit" type="submit" id="submit">${ "Submit" | translate }</button></p>
	</form>
{% endblock %}