{% if post.title %}
						<h1>
							<a href="$post.url" rel="bookmark" title="${ "Permanent Link to" | translate } &quot;$post.title&quot;">$post.title</a>
						</h1>
{% endif %}
						<div class="content">
							$post.dialogue
						</div>