{% extends "layouts/default.twig" %}
{% block content %}
	<h2>${ "Lost Password" | translate }</h2>
	<br />
	<form action="{% url "lost_password/" %}" method="post">
		${ "Please enter your username below and we will e-mail you a new password for your account." | translate }
		<p>
			<label for="login">${ "Username" | translate }</label>
			<input type="login" name="login" value="$POST.login" id="login" />
		</p>

		<p><input name="submit" type="submit" id="submit" value="${ "Submit" | translate }"></p>
	</form>
{% endblock %}