{% extends "layouts/default.twig" %}
{% block content %}
	<h2>${ "Register" | translate }</h2>
	<br />
	<form action="{% url "register/" %}" method="post">
		<p>
			<label for="login">${ "Username" | translate }</label>
			<input type="text" name="login" value="$POST.login" id="login" />
		</p>
		<p>
			<label for="password1">${ "Password" | translate }</label>
			<input type="password" name="password1" value="$POST.password1" id="password1" />
		</p>
		<p>
			<label for="password2">${ "Password (again)" | translate }</label>
			<input type="password" name="password2" value="$POST.password2" id="password2" />
		</p>
		<p>
			<label for="email">${ "E-Mail" | translate }</label>
			<input type="text" name="email" value="$POST.email" id="email" />
		</p>
${ trigger.call("user_register") }

		<p><input type="submit" value="${ "Register" | translate }"></p>
	</form>
{% endblock %}