{% extends "content/post.twig" %}

{% block content %}
                        ${ feathers['photo'].image_tag_for(post, 434) }
                        <div class="clear"></div>
                        ${ post.caption | read_more }
{% endblock %}
