{% extends "content/post.twig" %}

{% block content %}
						<blockquote>
							${ post.quote | read_more }
						</blockquote>
						<div class="source">&mdash; ${ post.source | read_more }</div>
{% endblock %}