html {
	font: .9em/1.3em normal "Palatino", Georgia, Times, serif !important;
}
body {
	font: inherit;
	width: 50em;
	margin: 0 auto;
}

.right { float: right; }
.left  { float: left; }
.clear { clear: both; }
.wide  { width: 100%; }
.wnd   { font-family: Wingdings; }