{% extends "layout.twig" %}

{% block title %}${ "Delete Aggregate &#8220;%s&#8221;?" | translate | format(aggregate.name | escape) }{% endblock %}

{% block content %}
            <h1>${ "Are you sure you want to delete aggregate &#8220;%s&#8221;?" | translate | format(aggregate.name | escape) }</h1>
            <form class="delete" action="{% admin "destroy_aggregate" %}" method="post" accept-charset="utf-8">
                <fieldset>
                    <blockquote class="noitalic">
                        <ul>
                            <li><strong>${ "Source URL:" | translate }</strong> $aggregate.url</li>
                        </ul>
                        <br />
                        <label><input type="checkbox" name="delete_posts" checked> Delete posts, too</label>
                        <br />
${ trigger.call("delete_aggregate_form") }
                    </blockquote>
                    <br />

                    <div class="center">
                        <button name="destroy" value="indubitably" class="center boo">${ "DESTROY!" | translate }</button>
                        <button name="destroy" value="bollocks" type="submit" class="yay">${ "Cancel" | translate }</button>
                    </div>

                    <input type="hidden" name="id" value="${ aggregate.name | escape }" id="id" />
                    <input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
                </fieldset>
            </form>
{% endblock %}
