{% extends "layout.twig" %}

{% block title %}${ "Add Aggregate" | translate("aggregator") }{% endblock %}

{% block content %}
			<h1>${ "Add Aggregate" | translate("aggregator") }</h1>
			<form id="new_aggregate" class="split" action="{% admin "new_aggregate" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
				<fieldset>
					<p>
						<label for="full_name">${ "Name" | translate("aggregator") }</label>
						<input class="text" type="text" name="name" value="" id="name" />
					</p>
					<p>
						<label for="url">${ "Source URL" | translate("aggregator") }</label>
						<input class="text code" type="text" name="url" value="" id="url" size="50" />
					</p>
					<p>
						<label for="feather">${ "Feather" | translate("aggregator") }</label>
						<select name="feather" id="feather">
						{% for feather in feathers %}
							<option value="$feather.safename">$feather.name</option>
						{% endfor %}
						</select>
					</p>
					<p>
						<label for="author">${ "Author" | translate("aggregator") }</label>
						<select name="author" id="author">
						{% for user in users %}
							<option value="$user.id">${ user.full_name | fallback(user.login) }</option>
						{% endfor %}
						</select>
					</p>
					<p>
						<label for="data">
							${ "Post Attributes" | translate("aggregator") }
							<span class="sub">
								<a href="{% admin "help&id=aggregation_syntax" %}" class="help emblem"><img src="images/icons/help.png" alt="help" /></a>
							</span>
						</label>
						<textarea class="code" name="data" rows="9" cols="50" class="wide" id="data"></textarea>
					</p>

					<br />

					<p>
						<label for="done"></label>
						<button type="submit" class="yay"><img src="images/icons/success.png" alt="success" />${ "Add Aggregate" | translate("aggregator") }</button>
					</p>

					<input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
				</fieldset>
			</form>
{% endblock %}
