{% extends "content/post.twig" %}

{% block content %}
                        $post.audio_player
                        <div class="clear"></div>
                        ${ post.description | read_more }
{% endblock %}
