{% extends "content/post.twig" %}

{% block content %}
                    ${ feathers['photo'].image_link(post, 510) }
                    <div class="clear"></div>
                    ${ post.caption | read_more }
{% endblock %}
