{% extends "content/post.twig" %}

{% block content %}
                    ${ feathers['video'].embed_tag_for(post, 510) }
                    <div class="clear"></div>
                    ${ post.caption | read_more }
{% endblock %}
