.likes { position: relative; display: inline; }
.likes span.text{ }
.likes a.like img, a.liked img {
    vertical-align: middle;
    opacity: .8;
    filter: alpha(opacity = 80);
    margin-right: 3px;
    margin-top: -3px;
}
.likes a.like img:hover { opacity: 1; filter: alpha(opacity = 100); }
.likes a.like:hover { text-decoration: none; }
.likes div.unlike { display: none; }
