{% extends "layout.twig" %}

{% block title %}${ "Theme Editor" | translate("theme_editor") }{% endblock %}

{% block content %}

<div id="theme_editor_content">
<div id="theme_files">
    <h2>${ "Theme Files" | translate("theme_editor") }</h2>
        $editor.list_all
</div>

<div id="theme_editor">
    <form class="split" action="{% admin "theme_editor" %}" method="post">
    <fieldset>
        <h2>${ theme.name~": <strong>"~editor.file_name~"</strong>" | translate("theme_editor") }</h2>
        <textarea cols="100" rows="20" name="newcontent" id="newcontent" tabindex="1">${ editor.file_content | escape(false, false) }</textarea>
        <input type="hidden" name="file" value="$editor.file_path" />
        <input type="hidden" name="cur_file" value="{% if GET.file %}$GET.file{% else %}/info.yaml{% endif %}" />
        <input type="hidden" name="theme" value="$theme.name" />
        <input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
        <div class="clear"></div>
        <p class="editor-buttons">
            <button type="submit" class="yay"><img src="$theme_url/images/icons/success.png" alt="success" />
            ${ "Update" | translate("theme_editor") }
            </button>
        </p>
        </fieldset>
    </form>
</div>
</div>
{% endblock %}
