{% extends "layout.twig" %}

{% block title %}${ "Cache Settings" | translate("cacher") }{% endblock %}

{% block content %}
			<h1>${ "Cache Settings" | translate("cacher") }</h1>
			<form id="cache_settings" class="split" action="{% admin "cache_settings" %}" method="post">
				<fieldset>
					<p>
						<label for="cache_expire">${ "Expire Cache After&hellip;" | translate("cacher") }</label>
						<input class="text" type="text" name="cache_expire" value="${ site.cache_expire | escape }" id="cache_expire" /> <span class="sub">${ "(seconds)" | translate("cacher") }</span>
					</p>

					<p class="buttons">
						<button type="submit" class="yay"><img src="images/icons/success.png" alt="success" />${ "Update" | translate }</button>
					</p>

					<input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
				</fieldset>
			</form>
{% endblock %}