{% extends "layout.twig" %}

{% block title %}${ "Cache Settings" | translate("comments") }{% endblock %}

{% block content %}
			<h1>${ "Cache Settings" | translate("comments") }</h1>
			{% if updated %}
			<p class="message yay">${ "Settings updated." | translate }</p>
			{% endif %}
			<form id="comment_settings" class="split" action="{% admin "comment_settings" %}" method="post">
				<fieldset>
					<p>
						<label for="cache_expire">${ "Expire Cache After&hellip;" | translate("comments") }</label>
						<input class="text" type="text" name="cache_expire" value="${ site.cache_expire | escape }" id="cache_expire" /> <span class="sub">${ "(seconds)" | translate }</span>
					</p>

					<p class="buttons">
						<button type="submit" class="yay"><img src="images/icons/success.png" alt="success" />${ "Update" | translate }</button>
					</p>

					<input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
				</fieldset>
			</form>
{% endblock %}