/* @override http://localhost/chyrp/admin/style.css */

/* @group Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; font-variant: normal; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; color: inherit;}
/* @end */

/* @group Core */
html {
	font-size: 62.5%;
}
body {
	font: 1.25em/1.5em normal "Verdana", Helvetica, Arial, sans-serif;
	color: #626262;
	background: #e8e8e8;
	padding: 0 0 5em;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
small {
	font-size: .9em;
	color: #999;
}
a:link, a:visited {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}
a:visited {
	border-bottom-style: dotted;
}
a:hover {
	border-bottom-color: #aaa;
}
/* @end */

/* @group Header */
#header {
	background: #3e3e3e url('images/header.gif') repeat-x;
	padding: 3.3em 0;
	color: #fff;
}
#header h1 {
	font-size: 3em;
	text-shadow: #000 0 1px 1px;
}
#header #navigation {
	float: right;
	margin-top: .25em;
}
#header #navigation li {
	display: inline;
}
#header #navigation li a {
	float: left;
	margin-left: 2em;
	opacity: .5;
	text-shadow: #888 0 0 10px;
	border-bottom: .25em solid #ddd;
}
#header #navigation li.selected a,
#header #navigation li a:hover {
	opacity: 1;
}
#header #navigation li.first a  { border-color: #ef4646; }
#header #navigation li.second a { border-color: #e19a2c; }
#header #navigation li.third a  { border-color: #16d907; }
#header #navigation li.fourth a { border-color: #0096ff; }

#welcome {
	background: #dfdfdf url('images/welcome.gif') repeat-x;
	padding: 1em 0 .8em;
}
/* @end */

/* @group Sub-Navigation */
#sub-nav {
	margin-top: 1em;
}
#sub-nav li a {
	float: left;
	padding: .4em .75em;
	background: #dfdfdf;
	border-top: .2em solid #e8e8e8;
	border-bottom: 0;
	color: #737373;
}
#sub-nav li.selected a {
	background: #fff;
	border-top-color: #c7c7c7;
}
#sub-nav li.right {
	margin: .75em 0 0;
}
#sub-nav li.right a {
	float: none;
	background: transparent;
	padding: 0;
	font-size: .95em;
	color: #777;
}
#sub-nav li.right a {
	color: #444;
}
/* @end */

/* @group Content */
#content {
	background: #fff;
	margin: 0 5em;
	padding: 1em;
}
#content h1 {
	font-size: 2em;
	margin: .2em 0 1em;
	color: #aaa;
	font-weight: bold;
}
#content h2 {
	font-size: 1.5em;
	margin: 0 0 .25em;
	color: #666;
	font-weight: bold;
}
#content h3 {
	font-weight: bold;
	font-size: 1.25em;
	margin-bottom: .5em;
}
#content h4 {
	font-weight: bold;
	font-size: 1.2em;
}
/* @end */

/* @group Forms */
form.delete blockquote {
	width: 75%;
	margin: 0 auto;
	font-style: italic;
}
form.delete blockquote h2 {
	font-style: normal;
}
label {
	display: block;
	font-size: 1.1em;
}
label .sub {
	font-size: .8em;
	color: #999;
}
input.text, input.file, textarea {
	font-size: 1.25em;
	padding: 3px;
	border: 1px solid #ddd;
	background: #fff;
}
input.file {
	border: none;
}
input.text, input.file, select, textarea {
	margin-bottom: 1em;
}
input.code, code {
	font-family: "Consolas", "Monaco", monospace;
}
/* @end */

/* @group Tables */
table tr.head {
	background: #555;
	color: #fff;
	border-left: 2px solid #444;
	border-top: 2px solid #444;
	border-bottom: 2px solid #444;
	border-right: 2px solid #444;
}
table tr.head th {
	padding: .25em .5em;
	border-right: 1px solid #444;
	font-weight: bold;
}
table tr {
	border-left: 2px solid #eee;
	border-right: 2px solid #eee;
}
table tr.last {
	border-bottom: 2px solid #eee;
}
table td {
	padding: .25em .5em;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
}
table td.main {
	background: #f9f9f9;
	font-weight: bold;
}
table td.center {
	text-align: center;
	vertical-align: middle;
}
table td a:link, table td a:visited {
	border: none;
}
tr.draft, tr.draft td, tr.draft td.main {
	background-color: #dff4ff;
	border-color: #c2e1ef;
	color: #336699;
}
/* @end */

/* @group Messages */
p.message {
	font-size: 1.1em;
	padding: .6em;
	margin-bottom: 1em;
	background: #f1f1f1;
	border: 1px solid #ccc;
}
p.message.yay {
	background: #189100;
	color: #fff;
	border-color: #105f00;
}
p.message.boo {
	background: #d51800;
	color: #fff;
	border-color: #9f1000;
}
/* @end */

/* @group Buttons */
/* Inspiration from Chawlk. */
button {
	font-weight: bold;
	font-size: 1.125em;
	margin: .7em .5em 0 0;
	color: #333;
	padding: .5em .75em;
	background: #f1f1f1;
	border: 1px solid #ccc;
	border-top: 0;
	border-left: 0;
	cursor: pointer;
}
button.right {
	margin: .7em 0 0 .5em;
}
button:hover {
	background-color: #f7f7f7;
	border-color: #d1d1d1;
}
button:active {
	background-color: #d7d7d7;
    border: 0;
    border-left: 1px solid #b1b1b1;
    border-top: 1px solid #b1b1b1;
}
button.boo {
	background: #faebe4;
	border-color: #d6bdb5;
	color: #3e3634;
}
button.boo:hover {
	background: #d51800;
	color: #fff;
	border-color: #9f1000;
}
button.boo:active {
    background: #b30600;
    border: 0;
    border-left: 1px solid #7d0000;
    border-top: 1px solid #7d0000;
}
button.yay {
	background: #ebfae4;
	border-color: #bdd6b5;
	color: #363e34;
}
button.yay:hover {
	background: #189100;
	color: #fff;
	border-color: #105f00;
}
button.yay:active {
    background: #067000;
    border: 0;
    border-left: 1px solid #003d00;
    border-top: 1px solid #003d00;
}
button img {
	margin: 0 5px -3px -2px;
}
/* @end */

/* @group Options */
.more_options_link {
	font-weight: bold;
	color: #999;
	border-bottom: 1px solid #ddd;
	display: block;
}
.more_options_link:hover {
	color: #666;
	border-bottom-color: #aaa;
}
.more_options {
	background: #f9f9f9;
	padding: 2% 0 0 2%;
}
.more_options p {
	width: 48%;
	margin: 0 2% 0 0;
	height: 5.5em;
	float: left;
}
.more_options p input.text {
	width: 96.5%;
	margin: 0;
}
/* @end */

/* @group Helpers */
a.emblem {
	border: none;
}
a.emblem img {
	margin-bottom: -2px;
}
.wide {
	width: 100%;
}
textarea.wide, input.text.wide {
	width: 98.5%; /* Compensating for the 6px added from the padding */
	_width: 100%; /* Hooray for IE6's randomized box model. */
}
.clear {
	clear: both;
}
.left {
	float: left !important;
}
.right {
	float: right !important;
}
.center {
	margin: 0 auto;
	text-align: center;
}
.column {
	margin: 0 5em;
}
/* @end */
