{% extends "layouts/default.twig" %}
{% block content %}
{% if archives %} {# List? (For all/yearly archives) #}
	{% for archive in archives %}
	<h2><a href="$archive.url">${ archive.timestamp | strftime("%B %Y") }</a></h2>
	<ul>
		{% for post in archive.posts %}
		<li>${ post.created_at | strftime("%d") }: <a href="$post.url">${ post.title | normalize | truncate(70) }</a></li>
		{% endfor %}
	</ul>
	<br />
	{% endfor %}
{% endif %}

{% if posts.paginated %} {# Posts? (For daily/monthly archives) #}
{% if archive.depth == "day" %}
	<h2>${ "Archive of %s" | translate | format(archive.timestamp | strftime("%B %d, %Y")) }</h2>
{% endif %}
{% if archive.depth == "month" %}
	<h2>${ "Archive of %s" | translate | format(archive.timestamp | strftime("%B %Y")) }</h2>
{% endif %}
	{% for post in posts.paginated %}
	{% include "feathers/" ~ post.feather ~ ".twig" %}
	{% endfor %}
{% endif %}

{% if not archives and not posts.paginated %} {# No results #}
					<h2>${ "No Posts" | translate }</h2>
					<p>${ "There don't seem to be any posts in the timeframe you specified." | translate }</p>
{% endif %}
{% endblock %}