{% extends "layouts/default.twig" %}
{% block content %}
{% if posts.paginated %}
					<h2>${ "Drafts" | translate }</h2>
{% endif %}
{% for post in posts.paginated %}
{% include "feathers/" ~ post.feather ~ ".twig" %}
{% else %}
					<h2>${ "No Drafts" | translate }</h2>
					<p>${ "You don't have any drafts." | translate }</p>
{% endfor %}
{% endblock %}