{% extends "layouts/default.twig" %}
{% block content %}
{% if posts.paginated %}
					<h2>${ feather | capitalize }</h2>
{% endif %}
{% for post in posts.paginated %}
{% include "feathers/" ~ post.feather ~ ".twig" %}
{% else %}
					<h2>${ "No Posts" | translate }</h2>
					<p>${ "There don't seem to be any posts as the Feather you specified." | translate }</p>
{% endfor %}
{% endblock %}