{% extends "layouts/default.twig" %}
{% block content %}
				{% if not post.next.no_results %}<a class="right" href="$post.next.url">${ post.next.title | truncate(40) } &rarr;</a>{% endif %}
				{% if not post.prev.no_results %}<a href="$post.prev.url">&larr; ${ post.prev.title | truncate(40) }</a>{% endif %}
				<div class="clear"></div>
{% include "feathers/" ~ post.feather ~ ".twig" %}
{% if enabled_modules.comments %}
				<br />
				<h1 id="comments">${ "Comments" | translate }</h1>
				{% if post.comment_count > 0 %}
				<ol class="comments" id="comments_$post.id">
					{% for comment in post.comments.paginated %}{% include "content/comment.twig" %}{% endfor %}
				</ol>
				{% endif %}
				<input type="hidden" name="last_comment" value="$post.latest_comment" id="last_comment" />
				${ post.comments.next_link("Next &rarr;" | translate, "right") }
				${ post.comments.prev_link("&larr; Previous" | translate, "prev_page") }
				<br />
				<br />
{% if post.commentable %}
{% include "forms/comment/new.twig" %}
{% endif %}
{% endif %}
{% endblock %}