		<li id="comment_$comment.id">
{% if comment.status == "denied" %}
			<span class="waiting">${ "Your comment is awaiting moderation." | translate }</span>
{% endif %}
			<blockquote>
				$comment.body
			</blockquote>
			<cite>
				${ "<strong>%s</strong> on %s" | translate | format(comment.author_link, comment.created_at | strftime("%B %e, %Y, at %I:%M %p" | translate)) }
				${ comment.delete_link("Delete" | translate, "") }
				${ comment.edit_link("Edit" | translate, "") }
			</cite>
		</li>
