                    {% if post.first_of_day %}
                    <div class="date">${ post.created_at | strftime("%B %d" | translate) }</div>
                    {% endif %}
                    <div class="post $post.feather{% if post.pinned %} pinned{% endif %}" id="post_$post.id">
                        {% if post.pinned %}<span class="pinned_text">${ "!" | translate }</span>{% endif %}
                        {% if post.status == "private" %}<span class="private_text">${ "PRIVATE" | translate }</span>{% endif %}
                        {% if post.status == "scheduled" %}<span class="scheduled_text">${ "SCHEDULED" | translate }</span>{% endif %}
                        {% block content %}{% endblock %}
                        {% if route.action == "view" and post.paginated and post.paginated.pages > 1 %}
                        <div class="clear"></div>
                        $post.paginated.prev_link
                        $post.paginated.next_link
                        <span class="pages">${ "Page %d of %d" | translate | format(post.paginated.page, post.paginated.pages) }</span>
                        {% endif %}
                        <div class="clear"></div>
                        <span class="info">
                            {% if post.pinned %}
                            <strong><a href="$post.url">${ post.created_at | strftime("%B %d @ %I:%M %p" | translate) }</a></strong>
                            {% else %}
                            <strong><a href="$post.url">${ post.created_at | strftime("%I:%M %p" | translate) }</a></strong>
                            {% endif %}
                            {% if enabled_modules.categorize and post.category.id != 0 %}
                            |
                            <a href="$post.category.url" rel="tag">$post.category.name</a>
                            {% endif %}
                            {% if enabled_modules.comments %}
                            |
                            <a href="$post.url#comments">${ "%s Comment" | translate_plural("%s Comments", post.comment_count) | format(post.comment_count) }</a>
                            {% endif %}
                            {% if enabled_modules.likes %}
                            |
                            $post.getLikes
                            {% endif %}
                            {% if post.linked_tags | length > 0 %}
                            |
                            ${ "Tags" | translate }: ${ post.linked_tags | join(", ") }
                            {% endif %}
                        </span>
                        {% if post.editable or post.deletable %}
                        <span class="controls">
                            $post.edit_link
                            ${ post.delete_link("Delete" | translate, " | ") }
                        </span>
                        {% endif %}
                        <div class="clear"></div>
                    </div>
