            <div id="sidebar">
                <form action="$site.url" method="get" accept-charset="utf-8">
                    <fieldset>
                        <input type="hidden" name="action" value="search" id="action" />
                        <input type="text" id="search" name="query" value="${ GET.query | escape }" />
                    </fieldset>
                </form>

                {% if theme.pages_list %}
                <h1>${ "Pages" | translate }</h1>
                <ul>
                    {% for item in theme.pages_list %}
                    <li>
                        <a href="$item.page.url">$item.page.title</a>

                        {% if item.has_children %}<ul>{% endif %}
                    {% if not item.has_children %}</li>{% endif %}
                    {% for ul, li in item.end_tags %}
                        $ul
                    $li
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}

                <h1>${ "Welcome, %s!" | translate | format(visitor.login | fallback("Guest" | translate)) }</h1>
                <ul>
                    {% if visitor.logged_in %}
                    <li><a href="{% url "controls" %}">${ "User Controls" | translate }</a></li>
                    {% if visitor.group.can("add_post", "add_page", "view_own_draft", "view_draft", "change_settings") %}
                    <li><a class="toggle_admin" href="{% url "toggle_admin" %}">${ "Toggle Admin Bar" | translate }</a></li>
                    {% endif %}
                    <li><a href="{% url "logout" %}">${ "Log Out" | translate }</a></li>
                    {% else %}
                    <li><a href="{% url "login" %}">${ "Log In" | translate }</a></li>
                    {% if site.can_register %}
                    <li><a href="{% url "register" %}">${ "Register" | translate }</a></li>
                    {% endif %}
                    <li><a href="{% url "lost_password" %}">${ "Lost Password?" | translate }</a></li>
                    {% endif %}
                </ul>

${ trigger.call("sidebar") }
                {% if tags %}
                <h1>${ "Tags" | translate }</h1>
                <ul id="tags_list">
                    {% for tag in tags %}
                    <li>
                        <a href="{% url "tag/" ~ tag.url %}" title="${ "%d post tagged &quot;%s&quot;" | translate_plural("%d posts tagged &quot;%s&quot;", tag.popularity) | format(tag.popularity, (tag.name | escape)) }">$tag.name</a>
                        <span class="sub">($tag.popularity)</span>
                        {% if route.action == "tag" and not (GET.name | contains(tag.clean)) %}
                        <span class="sub">&nbsp;<a href="{% url "tag/"~ tag.url ~"+"~ (GET.name | urlencode) %}">(+)</a></span>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li><a href="{% url "tags" %}">${ "All &rarr;" | translate }</a></li>
                </ul>
                {% endif %}

                {% if theme.archives_list %}
                <h1>${ "Archives" | translate }</h1>
                <ul>
                    {% for archive in theme.archives_list %}
                    <li>
                        <a href="$archive.url">${ archive.when | strftime("%B %Y" | translate) }</a>
                        <span class="sub">($archive.count)</span>
                    </li>
                    {% endfor %}
                    <li><a href="{% url "archive" %}">${ "All &rarr;" | translate }</a></li>
                </ul>
                {% endif %}
            </div>
