{% extends "layouts/default.twig" %}
{% block content %}
{% for archive in archives %}
	<h2>${ "Archive of" | translate } $archive.month $archive.year</h2><br />
	<ul>
		{% for post in archive.posts %}
		<li>${ post.created_at | date }: <a href="$post.url">${ post.title | normalize }</a></li>
		{% endfor %}
	</ul>
{% endfor %}
{% endblock %}