		<li id="comment_$comment.id">
{% if comment.status == "denied" %}
			<em>${ "Your comment is awaiting moderation." | translate }</em>
{% endif %}
			<blockquote>
				<p>$comment.body</p>
			</blockquote>
			<cite>
				<strong>$comment.author_link</strong> ${ "on" | translate }
				${ comment.created_at | date("F jS, 2008, \\a\\\t g:i A") }
				{% if visitor.can.edit_comment %}
				<em>|</em> $comment.edit_link
				{% endif %}

				{% if visitor.can.delete_comment %}
				<em>|</em> $comment.delete_link
				{% endif %}
			</cite>
		</li>
