		<li id="comment_$comment.id">
{% if comment.status == "denied" %}
			<em>${ "Your comment is awaiting moderation." | translate }</em>
{% endif %}
			<blockquote>
				<p>$comment.body</p>
			</blockquote>
			<cite>
				${ "<strong>%s</strong> on %s" | translate | format(comment.author_link, comment.created_at | strftime("%B %d, %Y, at %I:%M %p" | translate)) }
				${ comment.edit_link("Edit" | translate, "<em>|</em> ") }
				${ comment.delete_link("Delete" | translate, "<em>|</em> ") }
			</cite>
		</li>
