		<li id="comment_$comment.id">
{% if comment.status == "denied" %}
			<em>${ "Your comment is awaiting moderation." | translate }</em>
{% endif %}
			<blockquote>
				<p>$comment.body</p>
			</blockquote>
			<cite>
{#				<strong><?php $comment->author_link($comment->id); ?></strong> ${ "on" | translate }#}
				${ comment.created_at | date }
{#
				<?php $comment->edit_link(null, ' <em>/</em> ', null); ?>
				<?php $comment->delete_link(null, ' <em>/</em> ', null); ?>
#}
			</cite>
		</li>
