{% extends "layouts/default.twig" %}
{% block content %}
{% for post in posts %}
{% include "content/post.twig" %}
{% else %}
					<h2>No Posts</h2>
					<p>Nothing here yet!</p>
{% endfor %}
{% endblock %}
