{% extends "layouts/default.twig" %}

{% block content %}
				<div class="page" id="page_$page.id">
					{% if visitor.group.can("edit_page", "delete_page") %}
					<ul class="info">
						${ page.edit_link("Edit" | translate, "<li>", "</li>") }
						${ page.delete_link("Delete" | translate, "<li>", "</li>") }
					</ul>
					{% endif %}
					<h1>
						$page.title
					</h1>
					<div class="content">
						$page.body
					</div>
				</div>
{% endblock %}