{% extends "layouts/default.twig" %}
{% block content %}
				<div class="page" id="page_$page.if">
					<div id="page_inner_$page.id">
						<h2>
{% if user.can.edit_page or user.can.delete_page %}
							<span class="info right">
								$page.edit_link
								{% if user.can.delete_page %}
								<em>|</em> $page.delete_link
								{% endif %}
							</span>
{% endif %}
							$page.title
						</h2>
						<br />
						$page.body
					</div>
				</div>
{% endblock %}