{% extends "layouts/default.twig" %}
{% block content %}
		<h2>${ "Posts tagged with &#8220;%s&#8221;" | translate | format(tag | escape) }</h2>
{% for post in posts %}
{% include "content/post.twig" %}
{% endfor %}
{% endblock %}