{% extends "layouts/default.twig" %}
{% block content %}
{% include "content/post.twig" %}
{% if site.enabled_modules.comments %}
				<br />
				<h1 id="comments">${ "Comments" | translate }</h1>
				{% if post.comment_count > 0 %}
				<ol class="comments" id="comments_$post.id">
					{% for comment in post.comments %}{% include "content/comment.twig" %}{% endfor %}
				</ol>
				{% endif %}
				<input type="hidden" name="last_comment" value="$post.latest_comment" id="last_comment" />
{#
				<?php $paginate->next_link(__("Next &rarr;", "theme"), "right", "comments_page"); ?>
				<?php $paginate->prev_link(__("&larr; Previous", "theme"), "prev_page", "comments_page"); ?>
#}
				<br />
				<br />
{% if post.commentable %}
{% include "forms/comment/new.twig" %}
{% endif %}
{% endif %}
{% endblock %}