{% extends "layouts/default.twig" %}

{% block content %}
                <div class="page">
                    <h2 class="title">${ "Not Found" | translate }</h2>
                    <p class="post body">${ "Sorry, but you are looking for something that isn't here." | translate }</p>
                    <div class="page_shadow"></div>
                </div>
{% endblock %}
