{% extends "layouts/default.twig" %}

{% block content %}
                    {% for post in posts.paginated %}
{% include "feathers/" ~ post.feather ~ ".twig" %}
                    {% else %}
                    <h2>${ "No Posts" | translate }</h2>
                    <p>${ "Nothing here yet!" | translate }</p>
                    {% endfor %}
{% endblock %}
