{% extends "layouts/default.twig" %}

{% block content %}
                <div class="page">
                    {% if page.editable and page.deletable %}
                    <span class="controls right">
                        $page.edit_link
                        |
                        $page.delete_link
                    </span>
                    {% elseif page.editable or page.deletable %}
                    <span class="controls right">
                        $page.edit_link
                        $page.delete_link
                    </span>
                    {% endif %}
                    <h2 class="title">$page.title</h2>
                    <p>$page.body</p>
                    <div class="page_shadow"></div>
                </div>
{% endblock %}
