{% extends "layouts/default.twig" %}

{% block title %}${ "Profile" | translate }{% endblock %}

{% block content %}
                    <h2>Your Profile</h2>
                    <p>
                        <img class="gravatar-emblem" src="$visitor.gravatar" alt="Profile Photo" />
                    </p>
                    <br />
                    <p>
                        <label for="login">${ "Login:" | translate } $visitor.login</label><br />
                    </p>
                    <p>
                        <label for="full_name">${ "Full Name:" | translate } $visitor.full_name</label><br />
                    </p>
                    <br />
                    <h2>Contact</h2>
                    <p>
                        <label for="email">${ "Email:" | translate } $visitor.email</label><br />
                    </p>
                    <p>
                        <label for="website">${ "Website:" | translate } $visitor.website</label><br />
                    </p>
{% endblock %}
