<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head profile="http://gmpg.org/xfn/11">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>{% block title %}$site.name{% if title %} &raquo; $title{% endif %}{% endblock %}</title>
		<meta name="generator" content="Chyrp" />
		<link rel="pingback" href="$site.chyrp_url/includes/xmlrpc.php" />
		<link rel="EditURI" type="application/rsd+xml" href="$site.chyrp_url/includes/rsd.php" />
		$theme.feeds
		$theme.stylesheets
		$theme.javascripts
${ trigger.call("head") }
	</head>
	<body>
{% if visitor.group.can("add_post", "add_draft", "add_page", "view_own_draft", "view_draft", "change_settings", "toggle_extensions") %}
		<div class="controls" id="admin_bar"{% if hide_admin %} style="display: none"{% endif %}>
			<ul>
{% if visitor.group.can("add_post") %}
				<li><a id="add_post" href="{% admin "write_post" %}">${ "Write" | translate }</a></li>
{% elseif visitor.group.can("add_draft") %}
				<li><a id="add_draft" href="{% admin "write_post" %}">${ "Write Draft" | translate }</a></li>
{% endif %}
{% if visitor.group.can("add_page") %}
				<li><a id="add_page" href="{% admin "write_page" %}">${ "Add Page" | translate }</a></li>
{% endif %}
{% if visitor.group.can("view_own_draft", "view_draft") %}
				<li><a id="your_drafts" href="{% url "drafts/" %}">${ "Your Drafts" | translate }</a></li>
{% endif %}
{% if visitor.group.can("change_settings", "toggle_extensions") %}
				<li><a id="site_settings" href="$site.chyrp_url/admin/">${ "Admin" | translate }</a></li>
{% endif %}
				<li class="close"><a class="toggle_admin" href="{% url "toggle_admin/" %}">${ "Close" | translate }</a></li>
			</ul>
		</div>
{% endif %}
		${ now | date("g:i A, \o\\n F jS, Y") }
		<div class="wrapper">
			<div class="container">
				<div class="header">
					<h1><a href="$site.url">$site.name</a> <span>$site.description</span></h1>
				</div>
				<div id="posts">
{% block content %}{% endblock %}
				</div>
				$posts.next_link
				$posts.prev_link
				<br />
				<div class="footer">
					<p><a href="{% url "feed/" %}">Feed</a> / theme &copy; <a href="http://lofisoami.com/">Aaron MacDonald</a> 2007</p>
					<span>${ "Powered by <a href=\"http://chyrp.net/\">Chyrp</a>" | translate }</span>
				</div>
			</div>
			{% include "sidebar.twig" %}
		</div>
${ trigger.call("end_content") }
	</body>
</html>